# Local Hugging Face models
/blip2_model/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.safetensors
*.pt

venv/
# OS files
.DS_Store
Thumbs.db

/checkpoints/
.env
/paintings/*
!/paintings/014642_luis-de-madrazo-y-kuntz—st-maria-micaela-desmaisieres-1865.jpg
!/paintings/008295_angelica-kauffman—penelope-is-woken-by-euryclea-1772.jpg
!/paintings/018978_alexandre-antigna—young-peasant-girl-at-rest.jpg
!/paintings/014551_jean-leon-gerome—sword-dancer.jpg
!/paintings/029520_walter-sickert—minnie-cunningham-at-the-old-bedford-1892.jpg
!/paintings/004589_bartolome-esteban-murillo—the-vision-to-st-francis-at-porziuncola.jpg
!/paintings/004652_bartolome-esteban-murillo—landscape.jpg
!/paintings/008588_lemuel-francis-abbott—a-portrait-of-mrs-macdonald.jpg
!/paintings/004067_david-teniers-the-younger—on-the-outskirts-of-a-town.jpg
!/paintings/000540_guido-reni—repentant-peter-1637.jpg
!/paintings/005413_luca-giordano—self-portrait-1692.jpg
!/paintings/011442_joaquin-manuel-fernandez-cruzado—retrato-de-hombre-1830.jpg
!/paintings/008516_louise-elisabeth-vigee-le-brun—maria-luisa-of-spain-wife-of-emperor-leopold-ii.jpg
!/paintings/004936_jan-steen—mother-and-child.jpg
!/paintings/010543_francisco-goya—queen-maria-luisa.jpg
!/paintings/020865_telemaco-signorini—bath-for-prisoners-in-portoferraio-1890.jpg
!/paintings/016984_edward-robert-hughes—a-brother-and-sister-seated-before-a-hearth.jpg
!/paintings/009922_rembrandt-peale—william-charles-macready-as-virginius.jpg
!/paintings/008518_louise-elisabeth-vigee-le-brun—portrait-of-stanislas-augustus-poniatowski.jpg
!/paintings/008594_lemuel-francis-abbott—portrait-of-general-james-pattison-1723-1805-half-length-in-military-uniform.jpg
!/paintings/008598_lemuel-francis-abbott—portrait-of-aubrey-earl-of-burford-later-6th-duke-of-st-albans.jpg
!/paintings/012209_samuel-morse—portrait-of-major-general-thomas-pinckneyouth-1820.jpg
!/paintings/005224_mary-beale—detail-of-margaret-godolphin-by-maybe-mary-beale-1675.jpg
!/paintings/001695_nicolas-tournier—saint-jerome.jpg
!/paintings/011399_john-constable—sunset-study-of-hampstead-looking-towards-harrow-1.jpg
!/paintings/019448_johan-hendrik-weissenbruch—dutch-art-in-the-nineteenth-century.jpg
!/paintings/005539_adriaen-van-de-velde—beach-at-scheveningen.jpg
!/paintings/003927_adriaen-van-ostade—village-musicians.jpg
!/paintings/004601_bartolome-esteban-murillo—isaac-blessing-jacob-1670.jpg
!/paintings/003654_rembrandt—philemon-and-baucis.jpg
!/paintings/004319_sebastien-bourdon—portrait-of-ebba-sparre.jpg
!/paintings/004660_bartolome-esteban-murillo—the-immaculate-conception-1.jpg
!/paintings/010385_george-stubbs—earl-grosvenor-s-bandy.jpg
!/paintings/004109_mattia-preti—the-incredulity-of-saint-thomas-1660.jpg
!/paintings/029747_frank-w-benson—red-and-gold-1915.jpg
!/paintings/008515_louise-elisabeth-vigee-le-brun—lady-hamilton.jpg
!/paintings/009212_john-singleton-copley—abigail-smith-babcock.jpg
!/paintings/009677_barbara-krafft—portret-marie-terezie.jpg
!/paintings/012724_eugene-delacroix—the-bride-of-lammermoor-1826.jpg
!/paintings/015638_edward-burne-jones—an-angel.jpg
!/paintings/003849_judith-leyster—girl-with-a-lute-1631.jpg
!/paintings/010081_jean-auguste-dominique-ingres—luigi-cherubini-and-the-muse-of-lyric-poetry-1842.jpg
!/paintings/018414_constantin-guys—t-li-re-1864.jpg
!/paintings/009851_pierre-narcisse-guerin—the-death-of-brutus.jpg
!/paintings/003213_adriaen-brouwer—in-the-tavern.jpg
!/paintings/017908_enrico-nardi—view-over-trees-to-the-sea-in-the-sunset.jpg
!/paintings/012076_john-martin—the-crucifixion-with-the-burning-jerusalem-beyond.jpg
!/paintings/007171_allan-ramsay—john-manners-marquess-of-granby-1745.jpg
!/paintings/012543_alexander-clarot—man-in-blue-1842.jpg
!/paintings/006533_william-hogarth—the-western-family.jpg
!/paintings/029681_frank-w-benson—my-sister-1885-0.jpg
!/paintings/029682_frank-w-benson—my-sister-1885.jpg
!/paintings/020276_anton-romako—italian-girl-with-a-small-basket-and-a-carnation-before-a-laurel-bush-1876.jpg
!/paintings/007172_allan-ramsay—norman-the-red-man-22nd-chief-of-macleod.jpg
!/paintings/016427_filippo-indoni—a-young-zampogniero-bagpipe-player.jpg
!/paintings/009893_rembrandt-peale—portrait-of-a-baltimore-gentleman-by-rembrandt-peale-1815.jpg
!/paintings/016261_francesco-didioni—portrait-of-the-mother.jpg
!/paintings/020170_edouard-manet—at-the-caf_c3_a9-1878.jpg
!/paintings/008807_thomas-lawrence—warren-hastings-1811.jpg
!/paintings/020875_giuseppe-abbati—ritratto-di-signora.jpg
!/paintings/004568_bartolome-esteban-murillo—childhood-of-virgin.jpg
!/paintings/014407_william-hart—the-land-keene-valley-1878.jpg
!/paintings/011314_william-turner—view-of-saint-germain-ea-laye-and-its-chateau.jpg
!/paintings/030700_firmin-baes—motherhood.jpg
!/paintings/023160_columbano-bordalo-pinheiro—a-ch-vena-de-ch-1898.jpg
!/paintings/014299_alfred-dehodencq—portrait-of-a-woman.jpg
!/paintings/006271_antoine-pesne—birth-of-christ-1745.jpg
!/paintings/011561_thomas-sully—portrait-of-mrs-benjamin-wiggin-charlotte-fowle-1815.jpg
!/paintings/017695_carl-haag—young-greek-musician-1855.jpg
!/paintings/022009_niccolo-cannicci—summer-1896.jpg
!/paintings/000046_agostino-carracci—democritus.jpg
!/paintings/026677_pierre-auguste-renoir—gabrielle-with-renoir-s-children.jpg
!/paintings/027842_gustave-caillebotte—portrait-of-jean-daurelle.jpg
!/paintings/009254_john-singleton-copley—governor-john-wentworth.jpg
!/paintings/007444_joshua-reynolds—frances-countess-of-lincoln.jpg
!/paintings/028664_louise-abbema—portrait-de-femme-en-manteau-avec-un-parapluie.jpg
!/paintings/010870_saverio-della-gatta—vesuvius-seen-from-portici.jpg
!/paintings/006188_rosalba-carriera—portrait-of-antoine-watteau-1721.jpg
!/paintings/008201_benjamin-west—tobias-curing-his-fathers-blindness.jpg
!/paintings/008834_thomas-lawrence—thomas-campbell-1820.jpg
!/paintings/021748_giovanni-boldini—portrait-of-the-contessa-g-tempestini.jpg
!/paintings/010739_henry-raeburn—catherine-vorontsova.jpg
!/paintings/016093_tranquillo-cremona—sick-girl-1877.jpg
!/paintings/014020_ernest-hebert—muse-in-dalmatic-playing-the-harp-1880.jpg
!/paintings/003728_rembrandt—simeon-with-the-christ-child-in-the-temple.jpg
!/paintings/002286_jacques-stella—the-virgin-and-child-0.jpg
!/paintings/009833_antoine-jean-gros—portrait-of-the-french-composer-pierre-zimmermann-1808.jpg
!/paintings/003348_rembrandt—self-portrait-with-hat.jpg
!/paintings/024709_alfred-sisley—view-of-the-thames-charing-cross-bridge-1874.jpg
!/paintings/022514_tom-scott—auld-wat-of-harden.jpg
!/paintings/003913_adriaen-van-ostade—the-halt-at-the-inn.jpg
!/paintings/009858_pierre-narcisse-guerin—the-wedding-of-alexander-the-great-356-323-bc-and-roxana-1810.jpg
!/paintings/003879_giovanni-battista-salvi-da-sassoferrato—santa-lucia.jpg
!/paintings/018976_alexandre-antigna—the-soup-eaters.jpg
!/paintings/005335_jacob-ochtervelt—der-liebesantrag-an-die-lesende-1680.jpg
!/paintings/028669_louise-abbema—autoportrait.jpg
!/paintings/000559_guido-reni—penitent-mary-magdalene.jpg
!/paintings/008555_gilbert-stuart—samuel-salisbury-1811.jpg
!/paintings/004243_juan-carreno-de-miranda—portrait-of-a-infanta.jpg
!/paintings/005248_nicolaes-maes—view-of-ravestein-1653.jpg
